/* .md-footer {
  display: none !important;
} */

/* 自定义页脚样式
  减小页脚区域的垂直内边距 (padding)，从而降低其整体高度
*/

/* .md-footer{

  background-color: #133558; 
} */

/* 主要通过修改这个元素的内边距来调整高度 */
.md-footer-nav,
.md-footer-meta {
  padding-top: 0.25rem;    /* 减小上边距 */
  padding-bottom: 0.25rem; /* 减小下边距 */
}

