[data-md-color-scheme="mtm"] {
  --md-primary-fg-color:        #8BAD7F;
  --md-primary-fg-color--light: #B9D9AB;
  --md-primary-fg-color--dark:  #749C65;
}

/* [data-md-color-scheme="hzz"] {
  --md-primary-fg-color:        #3F588C;
  --md-primary-fg-color--light: #6181C2;
  --md-primary-fg-color--dark:  #0F1E3D;
} */

/* .md-footer {
  display: none !important;
} */

/* 自定义页脚样式
  减小页脚区域的垂直内边距 (padding)，从而降低其整体高度
*/

/* .md-footer{

  background-color: #133558; 
} */

/* 主要通过修改这个元素的内边距来调整高度 */


/* 同时隐藏电脑和手机端的 GitHub 仓库链接 */
.md-header__source,
.md-nav__source {
  display: none !important;
}